.App {
  text-align: center;
}

body {
  background: linear-gradient(to bottom, rgb(155, 88, 0) 30%, rgba(255, 255, 255, 0.719) 25%), url('/public/cityBackground.png');
  background-position: center bottom;
  background-repeat: no repeat;
  background-size: contain;

  width: 100vw;
  height: 100vh;
}

.Title {
  display: grid;
  background-color: rgba(0, 0, 0, 0);
  text-align: left;
  color: white;

  width: 20%;
  height: 8%;
  
  position: absolute;
  left: 25%;
  top: 2%;
}

.IconsSignIn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  gap: 10px;

  width: 20%;
  height: 8%;
  
  position: absolute;
  right: 25%;
  top: 2%;
}

.buttons {
  height: 30px;
  width: 70px;
}

.InfoCard1 {
  color: white;
  display: grid;
  text-align: left;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  height: 5%;
  width: 50%;

  position: absolute;
  left: 25%;
  top: 9%;
}

.InfoCard2 {
  color: white;
  display: grid;
  text-align: left;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  height: 3%;
  width: 50%;
  font-weight: bold;

  position: absolute;
  left: 25%;
  top: 15%;
}


.SearchBar {
  display: grid;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  color: white;
  grid-template-columns: 2fr 0.5fr 0.5fr;
  align-items: stretch; 

  width: 50%;
  height: 50px;
  
  position: absolute;
  left: 25%;
  top: 24%;
}

.searchLinks {
  background-color: rgba(0, 0, 0, 0.055);
  text-align: left;
  text-indent: 20px;
  color: rgb(0, 0, 0);

  width: 15%;
  height: 300px;
  
  position: absolute;
  right: 25%;
  top: 33%;
}

.searchLinks li {
  list-style-type: square;
  margin-left: 0;
}

.searchResults {
  background-color: rgba(0, 0, 0, 0);
  text-align: left;
  color: rgb(0, 0, 0);

  width: 34%;
  height: 50%;
  
  position: absolute;
  left: 25%;
  top: 33%;
}

.bottomText {
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  color: rgba(0, 0, 0, 0.459);

  width: 10%;
  height: 5%;
  
  position: absolute;
  left: 45%;
  bottom: 1%;
}


