.App {
  text-align: center;
}

body {
  background: linear-gradient(to top, rgb(255, 255, 255) 75%, rgb(119, 155, 223) 25%);

  width: 100vw;
  height: 100vh;
}

.Title {
  display: grid;
  background-color: rgba(0, 0, 0, 0);
  text-align: left;
  color: white;

  width: 20%;
  height: 8%;
  
  position: absolute;
  left: 25%;
  top: 0%;
}

.IconsSignIn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  gap: 10px;

  width: 20%;
  height: 8%;
  
  position: absolute;
  right: 25%;
  top: 0%;
}

.buttons {
  height: 30px;
  width: 70px;
}

.InfoCard1 {
  color: white;
  display: grid;
  text-align: left;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  height: 5%;
  width: 50%;

  position: absolute;
  left: 25%;
  top: 7%;
}

.InfoCard2 {
  color: white;
  display: grid;
  text-align: left;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  height: 3%;
  width: 50%;
  font-weight: bold;

  position: absolute;
  left: 25%;
  top: 12%;
}


.SearchBar {
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  color: white;

  width: 50%;
  height: 50px;
  
  position: absolute;
  left: 25%;
  top: 19%;
}

.sortButton {
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  color: white;

  width: 15%;
  height: 2%;
  
  position: absolute;
  right: 25%;
  top: 27%;
}

.filterButtons {
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  color: white;

  width: 12%;
  height: 300px;
  
  position: absolute;
  left: 25%;
  top: 30%;
}

.searchResults {
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  color: white;

  width: 37%;
  height: 50%;
  
  position: absolute;
  right: 25%;
  top: 30%;
}

