.App {
  text-align: center;
}

body {
  background: linear-gradient(to top, rgb(255, 255, 255) 75%, rgb(119, 155, 223) 25%);

  width: 100vw;
  height: 100vh;
}

.Title {
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  color: white;

  width: 20%;
  height: 80px;
  
  position: absolute;
  left: 25%;
  top: 5%;
}

.IconsSignIn {
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  color: white;

  width: 20%;
  height: 80px;
  
  position: absolute;
  right: 25%;
  top: 5%;
}

.SearchBar {
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  color: white;

  width: 30%;
  height: 80px;
  
  position: absolute;
  left: 25%;
  top: 15%;
}

.sortButton {
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  color: white;

  width: 15%;
  height: 2%;
  
  position: absolute;
  right: 25%;
  top: 27%;
}

.filterButtons {
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  color: white;

  width: 12%;
  height: 300px;
  
  position: absolute;
  left: 25%;
  top: 30%;
}

.searchResults {
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  color: white;

  width: 37%;
  height: 50%;
  
  position: absolute;
  right: 25%;
  top: 30%;
}
